@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond|Playfair+Display');

body {
	font-family: "Helvetica Neue", Helvetica;
}

header {
	padding: 1em;
	padding-bottom:0px;
}

h1, h2 {
	font-family: 'Cormorant Garamond', serif;
}

header h1 {
	font-size: 33px;
	font-weight: bold;
	margin-bottom: .25em;
}

header h2 {
	font-size: 18px;
}

a , a:visited {
	text-decoration: underline;
	color: black;
}

.mobileStackSplit {
	float:left;
	width: 100%;
	/*border-bottom: 1px solid #d1d1d1;*/
}

.mobileStackSplit .content {
	margin: .75em;
}

.groupTitle {
	font-weight: bold;
	visibility: yes;
	width: 50%;
}

.checkboxContainer {
	display: block;
	margin: 0;
}

.subtleText {
	color: #A3A3A3;
}

.hoverInfo th {
	font-weight: bold;
	text-align: left;
	padding: .5em .4em;
	border-bottom: 1px solid #E0E0E0;
}

.hoverInfo td {
	color: #1F1F1F;
	padding: .5em .25em;
	border-bottom: 1px solid #E0E0E0;
}

.hoverInfo td.popoverShare {
	text-align: right;
	font-weight: bold;
}

.hoverInfo tr:nth-child(2) td:first-child {
	font-weight: bold;
}

.hoverInfo tr:last-child td {
	border-bottom: 0;
}

.electoralSlider {
	float:left;
	height: 100%;
	margin: 0;
	transition: width .25s;
}

.electoralScaleSliderLabel {
	display: inline-block;
	clear: both;
}

.electoralScaleVotes {
	font-size: 6.5vw;
	font-weight: bold;
}

.electoralScaleName {
	font-size: 2.5vw;
	margin: 0 .75em;
}

.electoralScalePercent {
	font-size: 2.5vw;
}

.bold {
	font-weight: bold;
}

#description {
	font-family:'Cormorant Garamond', serif;
	line-height: 165%;
	font-size: 18px;
	margin: auto;
	width: 80%;
}

#groupSelect, #demographic {
	border-bottom: 1px solid #d1d1d1;
}

#description p {
	margin: .5em 0;
}

#description .indented {
	margin-left: 20px;
}

#electoralContainer {
	width: 80%;
	margin: 2em auto;
	margin-bottom: 0em;
}

#electoralScale {
	width: 100%;
	height: 2.5%;
	margin: .25em 0;
}

#electoralScaleCutPoint {
	width: 1.5px;
	height: 2.5%;
	position: absolute;
	right: 50%;
	background: white;
}

#electoralScaleSliderLabel {
	position: absolute;
	left: 0px;
}

#modeSelector {
	height: 30px;
	width: 275px;
	margin: .75em auto;
}

#modeSelector input {
	display: none;
}

#modeSelector label  {
	cursor: pointer;
	color: #454545;
	padding: .25em .65em;
	border: solid 1px #d1d1d1;
	border-right: 0;
	float:left;
}

#modeSelector label:first-of-type {
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

#modeSelector label:last-of-type {
	border-right: solid 1px #d1d1d1;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

#modeSelector input:checked + label {
	background: #d1d1d1;
	color: white;
}

#demographicContent {
	font-family: 'Cormorant Garamond', serif;
}

@media only screen and (min-width: 768px) {
	header h1 {
		font-size: 39px;
	}
	
	header h2 {
		font-size: 21px;
	}

	.mobileStackSplit {
		width: 50%;
	}

	.checkboxContainer {
		display: inline-block;
		margin-left: .75em;
	}

	.groupTitle {
		visibility: hidden;
	}

	.electoralScaleVotes {
		font-size: 3.75vw;
	}

	.electoralScaleName {
		font-size: 1.45vw;
	}

	.electoralScalePercent {
		font-size: 1.6vw;
	}

	#groupSelect, #demographic {
		border-bottom: 0;
	}

	#demographic {
		margin-left: 0;
	}

	#demographic .groupTitle {
		display: none;
	}
}

#map {
	/*height: 500px;
	width: 500px;*/
	margin: 0px;
}